body {
/* margin: 0; */
margin-left: 15%;
margin-right: 15%;
margin-bottom: 5%;
}

.page-header {
padding-bottom: 9px;
margin: 10px 0 10px;
border-bottom: 0px solid #eee;
text-align: right;
}

.nav-stacked{
margin-left: -15px;
}

.tabtxt{
font-size: 10px;
/*text-align: justify; */
}

.col-md-4{
padding: 20px;
height: 350px;
border: 1px solid #eee;
text-align: justify;
line-height: 0.98;
}

.col-md-4:hover{
background-color: #e0e9ed;
}

.qlinks{
line-height:1.2;

font-size: 16px;
text-align: left;
color: #333333;
}

.qlinks:hover{
color: #428bca;
text-decoration: none;
}

.foot{
background-color: #428bca;
color: #FBFCFC;
border: none;
min-height: 0.5em;
font-size: 12px;
}
.foot:hover{
background-color:#428bca;
}
/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
text-align: justify;
  display: none;
}

.tab-content > .active,
.pill-content > .active {
text-align: justify;
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

.tradeNav{
margin-left: -16px;
margin-bottom: -1px;
width: 150px;
background-color: #428bca;
padding: 0px;
height: 800px;
text-align: center;
}

.tradeNav:hover{
background-color: #428bca;
}

.tradeNav > .tlink{
background-color: #428bca;
color: #FBFCFC;
font-size: 18px;
text-align: center;
display: table-cell;
vertical-align: middle;
height: 50px;
width: 148px;
border-bottom: 1px solid #FBFCFC;
}

.tlink:hover,
.tlink:focus{
background-color: #306593;
}

.tl,
.tl:hover,
.tl:active{
color: #FBFCFC;
text-decoration: none;
}

.tradePane{
text-align: justify;
height: 799px;
overflow: scroll;
overflow-x:hidden;
}

.cNav{
margin-left: -16px;
margin-bottom: -1px;
width: 180px;
background-color: #428bca;
padding: 0px;
height: 913px;
text-align: center;
}

.cNav:hover{
background-color: #428bca;
}

.cHead{
background-color: #306593;
color: #FBFCFC;
font-size: 18px;
text-align: left;
display: table-cell;
vertical-align: middle;
height: 40px;
width: 178px;
border-bottom: 1px solid #FBFCFC;
padding: 10px;
}

.cCont{
background-color: transparent, *background-color: #428bca;
color: #FBFCFC;
font-size: 14px;
line-height: 1.1;
text-align: left;
display: table-cell;
vertical-align: middle;
height: 80px;
width: 178px;
border-bottom: 1px solid #FBFCFC;
padding: 10px;
}

.cPane{
text-align: justify;
}